<div class = "search-bar">
	<input id = "search-bar-text" type="text" placeholder="Search">
	<input id = "search-button" type = "button">
	<a id = "search-link" href="/browse">Advanced Search</a>
</div>