<div class = "search-bar">
	<input id = "search-bar-text" type="text" placeholder="Search">
	<div class = "search-bar-buttons">
		<input id = "search-button" type = "button">
		<a id = "search-link" href="/browse">Advanced Search</a>
	</div>
</div>