<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Beaver Cram!</title>
        <link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" integrity="sha256-jnhayWnGXA4I5H5WaxN9/tAKSe8/wHsiLfwE1hmVJys=" crossorigin="anonymous" defer></script>
		<script src="/functionHandler.js" charset="utf-8" defer></script>
	</head>
    <body>	
        <header>
            <div class="header-image-container">
                <img src="/beaver-clipart.png" alt="Beaver Logo">
            </div>
	    <h1 class="site-title"><a href="/">BeaverCram!</a></h1>
			<nav id="navbar">
			<div>
			<a href="/">Home</a>
				</div>
				<div>
					<a href="/browse">Browse</a>
			</div>
				<div>
					<a href="/upload">Upload</a>
				</div>
				<div>
					<a href="/about">About</a>
				</div>
			</nav> 
        </header>
		
        {{{body}}}
        
    </body>
</html>
