<main class = "content">
	<div class = "about-page">
		<h2 id="title">About BeaverCram</h2>
		<p id="about-body">BeaverCram&trade; is an online tool that allows you to search for or upload study materials for classes you take at OSU. You can upload text, links, or images relating to specific courses or subjects, and by doing so you're helping thousands of other students.<br><br>BeaverCram&trade; was developed by Peter B, Nathan H, Chase K, and Logan S for our final project in CS290 using tools taught to us by the great Rob Hess.</p>
	</div>
</main>

