<main class="content">
    
    <div class="add-post-header">
        <h2>Add a new post</h2>
    </div>

    <div class="add-post-body">
        
        <div class="add-post-input">
            <label for="post-title-input">Post Title</label>
            <input type="text" id="post-title-input">
        </div>

        <div class="add-post-input">
            <label for="post-class-input">Class</label>
            <input type="text" id="post-class-input">
        </div>
       
        <div class="add-post-input">
            <label for="post-term-input">Term</label>
            <select id="post-term-input">
                <option value="" selected>Select term</option>
                <option>Fall</option>
                <option>Winter</option>
                <option>Spring</option>
                <option>Summer</option>
            </select>
        </div>

        <div class="add-post-input">
            <label for="post-year-input">Year</label>
            <input type="text" id="post-year-input">
        </div>
    
        <div class="add-post-input">
            <label for="post-pf-input">Professor</label>
            <input type="text" id="post-pf-input">
        </div>

        <div class="add-post-input">
            <label for="post-body-input">Description</label>
            <input type="text" id="post-body-input">
        </div>

        <div class="add-post-input">
            <label for="post-resource-input">Link to resource</label>
            <input type="text" id="post-resource-input">
        </div>

 
    </div>

    <div class="add-post-footer">
        <button id="add-post-button">Add Post</button>
    </div>

</main>
