<main class = "content">
	<div class = "browse-contents">

		{{#if showsearch}}
		<div class = "full-search">
			{{> searchBar showadvanced=false}}
			<div class = "advanced-search">
				<div class = "search-container">
					<label for = "class-search" class = "search-label">Class</label>
					<div class="search-input-div">
						<input type = "text" name = "class-search" id = "class-search" class="search-input">
					</div>
				</div>
				<div class = "search-container">
					<label for = "professor-search" class = "search-label">Professor</label>
					<div class="search-input-div">
						<input type = "text" name = "professor-search" id = "professor-search" class="search-input">
					</div>
				</div>
				<div class="search-container">
					<label for="select-term" class="search-label">Term</label>
					<div class="search-input-div">
						<select id="select-term" class="search-input">
							<option value="" selected>Select term</option>
							<option>Fall</option>
							<option>Winter</option>
							<option>Spring</option>
							<option>Summer</option>
						</select>
					</div>
				</div>
				<div class="search-container">
					<label for="year-input" class="search-label">Year</label>
					<div class="search-input-div">
						<input type="text" name= "year-input" id="year-input" class="search-input">
					</div>
				</div>
			</div>
		</div>
			
		{{/if}}
		
		<div class = "post-container">
			{{#each post}}
				{{> userPost}}
			{{/each}}
		</div>
	</div>
</main>
