<main class = "content">
	<div class = "browse-contents">

<<<<<<< HEAD
		{{#if showsearch}}
		<div class = "full-search">
			{{> searchBar}}
			<div class = "advanced-search">
				<div class = "search-container">
					<label for = "class-search" class = "search-label">Class</label>
					<input type = "text" name = "class-search" id = "class-search">
				</div>
				<div class = "search-container">
					<label for = "professor-search" class = "search-label">Professor</label>
					<input type = "text" name = "professor-search" id = "professor-search">
				</div>
				<div class="search-container">
					<label for="select-term" class="search-label">Term</label>
					<select id="select-term">
						<option value="" selected>Select term</option>
				<option>Fall</option>
				<option>Winter</option>
				<option>Spring</option>
				<option>Summer</option>
					</select>
				</div>
				<div class="search-container">
					<label for="year-input" class="search-label">Term</label>
					<input type="text" id="year-input">
				</div>
			</div>
		</div>
			
		{{/if}}
		
		<div class = "post-container">
			{{#each post}}
				{{> userPost showbody=false}}
			{{/each}}
		</div>
	</div>
</main>
