body {
	margin: 0;
	font-family: Lato;
}

a {
	text-decoration: none;
	color: #ffffff;
}

header {
	position: fixed;
	width: 100%;
	height: 5em;
	background-color: #000000;
}

.header-image-container {
	display: inline-block;	
	height: 100%;
}

.header-image-container img {
	height: 100%;
}

.site-title {
	display: inline-block;
	max-width: 25%;
	vertical-align: top;
}

.site-title a {
	text-decoration: none;
	color: #dc4405;
	font-weight: 800;
}

#navbar {
	display: inline-block;
	background-color: #000000;
	color: #dc4405;
	width: 50%;
	height: 100%;
	vertical-align: top;
	margin: auto;
}

#navbar div {
	height: 100%;
	width: 24%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 5em;
}

#navbar div:hover {
	background-color: #dc4405;
	color: #000000;
}

#navbar div a {
	font-size: 26px;
	color: #ffffff;
	text-decoration: none;
}

.main-search {
	padding-top: 15em;	
}

.search-bar-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
}

.search-bar {
	width: 30%;
	margin: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#search-bar-text {
	width: 100%;
	margin: 1.5em 0;
}

#search-button, #search-link {
	display: inline-block;
	width: 30%;
	height: 30px;
	line-height: 30px;
	font-size: 1em;
	text-decoration: none;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	vertical-align: top;
	float: top;
}

#search-button {
	border: none;
	margin-left: 10%;
}

#search-link {
	float: right;
	margin-right: 10%;

}

.post-container {
	position: relative;
	top: 5em;
	width: 80em;
	min-width: 85%;
	max-width: 30%;
	float: right;
}

.post-contents {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.post-contents-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-body {
	display: flex;
	flex-direction: column;
}

.post-info {
	margin: 5px;
}

.user-post {
	margin: 5px;
	padding: 10px;
	border: 2px solid gray;
	border-radius: 5px;
	box-shadow: 5px 5px 5px gray;
}

.full-search {
	position: fixed;
	top: 5em;
	width: 10em;
	min-width: 10%;
	max-width: 30%;
	height: 100%;
	display: inline-block;
	background-color: #737373;
	padding: 2em;
}

.full-search span {
	display: table;
	margin: auto;
	font-size: 1.25em;
	font-weight: 600;
}

.search-container {
	margin: 1em 0;
}

.search-container input {
	width: 100%;
}

.about-page {
	width: 80%;
	margin: auto;
}

.about-page #title {
	text-align: center;
}

