body {
	
}

#navbar {
	background-color: #000000;
	color: #dc4405;
}

#navbar li:hover {
	background-color: #dc4405;
	color: #000000;
}


#fullSearch {
	background-color: pink;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#advancedSearch {
	display: flex;
	flex-direction: row;
}